body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  /* Color */
  --primary: #161616;
  --secondary: #989898;
  --tertiary: #BBBBBB;
  /* Spacing */
  --mainPadding: 140px;
  /* font */
  --fontSmall: 0.75rem;
  --fontMedium: 1.125rem;
  --fontLarge: 1.5rem;
  --fontXLarge: 3rem;
}